
# Bytecode do Python
__pycache__/
*.py[cod]
*.so

# Ambiente virtual
.env/
.envrc
pyvenv.cfg

# Logs
*.log

# Arquivos temporários
*.swp
*.swo
*~

# Editor e IDEs
.vscode/
.idea/

# Arquivos de teste
teste1.py
teste2.py

# Arquivos do sistema
.DS_Store
Thumbs.db

# Pastas do Git
.git/

#banco de dados

backend/model/databases.db
backend/model/.dbee.json

